<!DOCTYPE html>
<html ng-app="WordcountApp">
  <head>
    <title>Wordcount</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body ng-controller="WordcountController">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <h1>Wordcount 3000</h1>
          <br>
          <form role="form" ng-submit="getResults()">
            <div class="form-group">
              <input type="text" ng-model="url" name="url" class="form-control" id="url-box" placeholder="Enter URL..." style="max-width: 300px;" required>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <h2>Frequencies</h2>
            <br>
            <div id="results">
              <table class="table table-striped">
                  <thead>
                        <tr>
                          <th>Word</th>
                          <th>Count</th>
                        </tr>
                    </thead>
              <tbody>
            <tr ng-repeat="(key, val) in wordcounts">
              <td>[[key]]</td>
              <td>[[val]]</td>
           </tr>
           </tbody>
           </table>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script  type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    <script>
    (function () {

      'use strict';

      angular.module('WordcountApp', [])

      .config(function($interpolateProvider){
        $interpolateProvider.startSymbol('[[').endSymbol(']]');
      })

      .controller('WordcountController', ['$scope', '$log', '$http', '$timeout',
        function($scope, $log, $http, $timeout) {
        $scope.getResults = function() {
          $log.log("test");

          var userInput = $scope.url;

          $http.post('/start', {"url":userInput}).
          success(function(results) {
            $log.log(results);
            getWordCount(results);
          }).
          error(function(error) {
            $log.log(error);
          });


            function getWordCount(jobId){
                var timeout = ""

                var poller = function(){
                  $http.get('/results/'+jobId).
                  success(function(data, status, headers, config) {
                    if (status == 202){
                      $log.log(data, status);
                    } else if (status == 200){
                      $log.log(data);
                      $scope.wordcounts = data;
                      $timeout.cancel(timeout);
                      return false;
                    }

                    timeout = $timeout(poller, 2000);
                  });
                };
                poller();
              }

        };
      }

      ]);

    }());

    </script>
  </body>
</html>
